<div class="card">
    <div class="card-header">
        
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <input type='text' 
                   [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4> Filtered By: {{listFilter}} </h4> 
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" (click)='toggleImage()' [disabled]='!showContent' >
                    {{showImage ? 'Hide':'Show'}} Image
                  </button>
                  <button class="btn btn-primary" (click)='toogleContent()' [style.marginLeft.px]=10>
                     {{showContent?'Hide':'Show'}} Contents
                  </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody *ngIf= 'showContent'>
                    <tr *ngFor='let product of filteredProducts' >
                        <td><img *ngIf='showImage' 
                                [src]='product.imageUrl' [title]='product.productName'
                                [style.width.px]='imageWidth' [style.margin.px]=' imageMargin'></td>
                        <!-- Property Binding -->
                        <td><a [routerLink]='["/products",product.productId]'>{{product.productName}}</a></td> <!-- Binding using Interpolation -->
                        <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency:'INR':'symbol':'1.2-2' }}</td>
                        <td><pm-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)' (ratingHovered)='onRatingHovered($event)'></pm-star></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>