<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png" class="img-responsive center-block"
          style="max-height:300px;padding-bottom:40px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Pradeep Reddy</h3>
      </div>
      <div class="text-center">@pradeep574</div>
      <div class="text-center">
        <a href="http://github.com/pradeep574/">Github</a>
      </div>
    </div>
  </div>
</div>